main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* main > div {
    background-color: #f2d0e0;
} */
header {
    background-color: mediumvioletred;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    grid-column: 1 / 4;
}
img {
    height: 40px;
}
button {
    justify-self: end;
    margin-right: 5px;
}
footer {
    text-align: center;
    display: grid;
    background-color: mediumvioletred;
    align-items: center;
    grid-row: 3;
}
.navegacao {
    background-color: #f2d0e0;
}

.right {
    text-align: right;
}